nav.sidebar {
    padding: 0 20px 20px 20px;
    background-color: hsl(0, 0%, 18%);
    color: #eee;
}

.sidebar a {
    color: #eee!important;
}

h4 .menu-section-header-btn { display: inline-block; }