<h4>
    Channels
    <span class="menu-section-header-btn">
        <a ngRef="" role="button" (click)="openAddChannelModal(template)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </span>
  </h4>
  <ul class="nav nav-sidebar">
    <li  *ngFor="let channel of channels">
        <a href="#"># {{ channel.name }}</a>
    <li>
  </ul>

  <!-- Add channel modal -->
  <ng-template #template>      
      <app-channel-form-modal (onAddChannel)="onAddChannel($event)"></app-channel-form-modal> 
  </ng-template>
    